html,
body {
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
}

a:focus {
	outline: 2px solid #9b21a6;
}

h1 {
	font-family: 'Averia Serif Libre', serif;
	font-weight: 400;
    font-size: 1.5em;
    letter-spacing: .02em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Palanquin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
}

strong {
	font-family: 'Palanquin', sans-serif;
    font-weight: 500;
}

header {
	margin-top: 50px;
}

header nav {
	font-family: 'Averia Serif Libre', serif;
	font-weight: 400;
	letter-spacing: .04em;
	font-size: 1.2em;
}

footer {
	font-size: .8em;
}

footer a {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
	margin: 0 10px;
	height: 4.4em;
}

footer a:active,
footer a:hover {
	color: #9b21a6;
	border-bottom: 3px solid #9b21a6;
}

.fa-linkedin,
.fa-github-square {
	font-size: 30px;
	display: block;
}

footer span {
	display: block;
}

.home a {
	text-decoration: none;
	display: block;
	font-weight: 400;
}

.home a:active,
.home a:hover {
	outline: 2px solid #000;
	background: #f1f1f1;
}

.portfolio a {
	color: #9b21a6;
	text-decoration: none;
	border-bottom: 1px solid;
}

.portfolio a:active,
.portfolio a:hover {
	text-decoration: none;
	border-bottom: 3px solid;
}

.portfolio h1 {
	font-size: 2em;
}

.portfolio h2 {
	font-size: 1.05em;
	font-weight: 500;
	letter-spacing: .06em;
	text-transform: uppercase;
	color: #5d445f;
	margin: 30px 0 10px;
}

.portfolio iframe {
	border: 1px solid #999;
}

.caption {
	font-size: .8em;
}

hr {
	border-top: 1px solid #ccc;
}

/* Password page */

.staticrypt-page {
    width: 360px;
    margin: auto;
}

.staticrypt-form {
    max-width: 360px;
    padding: 0 45px 45px;
}

.staticrypt-form input {
	outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #000;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
}

.staticrypt-form .staticrypt-decrypt-button {
    outline: 0;
    background: #222;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
}

.staticrypt-form input:focus,
.staticrypt-form button:focus {
	outline: 2px solid #9b21a6;
}

.staticrypt-form .staticrypt-decrypt-button:hover {
    background: #9b21a6;
}

.staticrypt-form .staticrypt-decrypt-button:active,
.staticrypt-form .staticrypt-decrypt-button:focus {
	outline: 2px solid #9b21a6;
    background: #fff;
    color: #9b21a6;
}

/* Screen reader and keyboard styles */

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.sr-only,
.kb-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.kb-only:active,
.kb-only:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}